body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

#game-container {
    position: relative;
}

#gameCanvas {
    background-color: #111;
    border: 1px solid #fff;
}

#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}
